//Brand Colors
$brands: (
    phg: (#0098d7 #95d600 #9fa1a4),
    facebook: (#3b5998),
    twitter: (#55acee),
    googleplus: (#d73d32),
    google: (#4285f4 #db4437 #f4b400 #0f9d58 #e7e6dd),
    linkedin: (#0077b5 #000 #313335),
    github: (#333 #4183c4 #999999),
    youtube: (#cd201f),
    vimeo: (#162221 #1ab7ea),
    instagram: (#3f729b),
    pinterest: (#cc2127),
    soundcloud: (#ff8800 #ff3300),
    tumblr: (#35465c),
    twitch: (#6441a5),
    vine: (#00b488),
    disqus: (#2e9fff),
    flickr: (#0063dc #ff0084),
    yelp: (#af0606),
    paypal: (#003087 #009cde #012169),
    wordpress: (#21759b #d54e21 #464646),
    android: (#a4c639),
    microsoft: (#f65314 #7cbb00 #00a1f1 #ffbb00),
    windows: (#00bcf2),
    html: (#e34f26),
    css: (#30a9dc),
    sass: (#c6538c),
    javascript: (#f1bf26),
    php: (#7f7fb2),
);
